:root {
  --font-text-headings: "Ojuju", sans-serif;
  --font-text-primary: "Anek Devanagari", sans-serif;
  --colour-primary: #9ADBBA;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

nav > p {
  font-family: var(--font-text-headings);
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0;
}

h1 {
  font-family: var(--font-text-headings);
  font-size: 2.5rem;
  color: inherit;
}

h2 {
  font-family: var(--font-text-headings);
  font-size: 2rem;
  color: #ad1017;
}

h3 {
  font-family: var(--font-text-headings);
  font-size: 1rem;
}

hr {
  background-color: #ad1017;
  border: none;
  height: 2px;
}

p {
  font-family: var(--font-text-primary);
  font-size: 1rem;
  text-align: justify;
}

a {
  text-decoration: none;
  color: black;
  font-family: var(--font-text-primary);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #ad1017;
  color: #ad1017;
}

ul li {
  font-family: var(--font-text-primary);
  font-size: 1rem;
  list-style: none;
  font-weight: bold;
}

ol li {
  font-family: var(--font-text-primary);
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 2rem;
  margin-top: 10px;
}

header {
  margin: 16px 40px 16px 40px;
}

.section__intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--colour-primary);
}

.text__intro {
  padding-top: 120px;
}

.text__intro--sub > p {
  font-size: 1.5rem;
}

.section__bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin: 16px 40px 16px 40px;
  background-color: white;
}

.section__reasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin: 16px 40px 16px 40px;
}

.fragment__identifier {
  display: flex;
  justify-content: space-around;
}

.nav__aside {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.section__aside > h2 {
  text-align: center;
}

blockquote p {
  font-family: var(--font-text-headings);
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
}

figure img {
  width: 550px;
  height: 570px;
  object-fit: cover;
  border-radius: 200px;
}

figcaption {
  font-family: var(--font-text-primary);
  font-size: 1rem;
}
