* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eaddcb;
  /* background-color: #c7d6e1; */
}

nav > p {
  font-family: "Great Vibes", sans-serif;
  font-size: 3rem;
  margin-top: 0;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  color: #73232a;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  font-style: italic;
  color: #23404a;
}

h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 1rem;
}

p {
  font-family: Lato;
  font-size: 1rem;
  text-align: justify;
}

a {
  text-decoration: none;
  color: black;
  font-family: Lato, sans-serif;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: black;
  color: #73232a;
}

ul li {
  font-family: Lato;
  font-size: 1rem;
  list-style: none;
  font-weight: bold;
}

ol li {
  font-family: Lato;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 2rem;
  margin-top: 0;
}

header {
  margin: 16px 40px 16px 40px;
}

.section__intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text__intro {
  padding-top: 120px;
}

.text__intro--sub > p {
  font-size: 1.5rem;
}

.section__bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin: 16px 40px 16px 40px;
}

.section__reasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin: 16px 40px 16px 40px;
}

.fragment__identifier {
  display: flex;
  justify-content: space-around;
}

.nav__aside {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.section__aside > h2 {
  text-align: center;
}

blockquote p {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  color: #23404a;
  text-align: center;
}

figure img {
  width: 550px;
  height: 570px;
  object-fit: cover;
  border-radius: 200px;
}

figcaption {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}
